<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li>
        <a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code
        <ul>
            <li>ASP.NET Core Identity</li>
            <li>JWT - JSON Web Tokens authentification</li>
        </ul>
    </li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

here are some predefined user:
<ul>
    <li>Admin (Email: AdminDemo@gmail.com, pwd: Initial1!)</li>
    <li>PowerUser (Email: PowerUserDemo@gmail.com, pwd: Initial1!)</li>
    <li>User (Email: UserDemo@gmail.com, pwd: Initial1!)</li>
</ul>

<h1>Please login</h1>

<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" [(ngModel)]="email" name="email"
                   class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" [(ngModel)]="pwd" name="pwd" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-10">
            <button type="submit" (click)="onSubmit()" class="btn btn-default btn-auth">Sign in</button>
        </div>
    </div>

    <div class="form-group row" style="display:none">
        <label for="inputPassword3" class="col-sm-2 control-label"></label>
        <a href="/register" class="col-sm-4">Register new user</a>
        <a href="/forgot" class="col-sm-4">Forgot password</a>
    </div>
</form>
