<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Web</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']" *ngIf="claim('dashbrd','r')">
                    <a [routerLink]="['/dashboard']">
                        <span class='glyphicon glyphicon-home'></span> Dashboard
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="role('User')">
                    <a [routerLink]="['/pages/normal']">
                        <span class='glyphicon glyphicon-home'></span> Normal Page
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="role('PowerUser')">
                    <a [routerLink]="['/pages/power']">
                        <span class='glyphicon glyphicon-home'></span> Power Page
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="role('Admin')">
                    <a [routerLink]="['/pages/admin']">
                        <span class='glyphicon glyphicon-home'></span> Admin Page
                    </a>
                </li>
                <li>
                    <span>--------------------------</span>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="claim('acc','r')">
                    <a [routerLink]="['/accounts']">
                        <span class='glyphicon glyphicon-home'></span> Accounts
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="claim('role','r')">
                    <a [routerLink]="['/roles']">
                        <span class='glyphicon glyphicon-home'></span> Roles
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
